<!DOCTYPE html>
<html>
  <%- include("head.html") %>
  <body id="page-top" class="d-flex flex-column min-vh-100">
    <header class="masthead text-black text-center">
      <div class="container d-flex align-items-center flex-column">
        <!-- 프로필 페이지의 이름 부분 -->
        <h1>Name : <%= user.name %></h1>
        <h1>Email: <%= user.email %></h1>
      </div>
    </header>
    <%- include("nav.ejs") %>
    <section class="page-section portfolio">
      <div class="container"></div>
    </section>
  </body>
  <%- include("footer.html") %>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</html>
